spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080
  cloud:
    aws:
      sqs:
        endpoint: http://localhost:4566

logging:
  level:
    com.accountabilityatlas: DEBUG
    org.springframework.security: DEBUG
